@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "seed";
  src: url("../font/LINESeedSansTH_A_Rg.ttf");
}
@font-face {
  font-family: "seed_xbd";
  src: url("../font/LINESeedSansTH_A_XBd.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "seed";
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.Home {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Home .box {
  width: 100px;
  height: 100px;
}
.Home .boxstar {
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("../assets/cosmos-1853491_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(30%);
}
.Home > section {
  overflow-y: scroll;
  flex-grow: 1;
}
.Home > section .firstpost {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
}
.Home > section .firstpost img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Home > section .firstpost > div {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8823529412);
  color: #fff;
}
.Home > section .firstpost > div h2 {
  font-size: 35px;
}
.Home > section .firstpost > div p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Home > section .subpost {
  width: 100%;
  margin-top: 30px;
  padding: 0 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  gap: 10px;
}
.Home > section .subpost > a {
  display: block;
}
.Home > section .subpost > a > div {
  height: 100%;
  height: 260px;
  background-color: #000;
  padding: 10px;
  margin-bottom: 20px;
}
.Home > section .subpost > a > div > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
}
.Home > section .subpost > a > div > div {
  color: #fff;
}
.Home > section .subpost > a > div > div > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.Home > section .subpost > a > div > div > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.addhidcontent {
  display: none !important;
}

.Header {
  position: relative;
  height: 80px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5803921569);
  display: flex;
  align-items: center;
}
.Header .logo_Header {
  padding: 0 30px;
}
.Header .logo_Header > span {
  font-size: 40px;
  font-family: "seed_xbd";
}
.Header .logo_Header > span:nth-of-type(1) {
  color: #fc6736;
}
.Header .logo_Header > span:nth-of-type(2) {
  color: #fff;
}
.Header > nav {
  color: #fff;
}
.Header > nav > ul {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.Header > nav > ul > li {
  cursor: pointer;
}
.Header > nav > ul > li a {
  transition: all 0.2s ease;
}
.Header > nav > ul > li a:hover {
  color: #c7c6c6;
}
.Header > form {
  position: absolute;
  right: 30px;
  width: 240px;
  height: 30px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
}
.Header > form > input {
  padding-left: 10px;
  background-color: #fff;
  width: 80%;
  border: none;
}
.Header > form > input:focus {
  outline: none;
}
.Header > form button {
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  flex-grow: 1;
}

@media screen and (max-width: 700px) {
  .Home .firstpost > div h2 {
    font-size: 26px !important;
  }
}
@media screen and (max-width: 570px) {
  .Home .firstpost {
    height: 60vh !important;
  }
  .Home .firstpost > div h2 {
    font-size: 20px !important;
  }
  .Home > section {
    padding-top: 60px;
  }
  .Header > form {
    bottom: -30px;
    right: 0;
    width: 100%;
    border-radius: 0;
  }
}/*# sourceMappingURL=Home.css.map */