@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
    font-family: "seed";
    src: url("../font/LINESeedSansTH_A_Rg.ttf");
}
@font-face{
    font-family: "seed_xbd";
    src: url("../font/LINESeedSansTH_A_XBd.ttf");
}

//!style page Home

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "seed";
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #000;
}
  
::-webkit-scrollbar-thumb {
  background-color: #ffffff33;
  border-radius: 15px;
}
  
// ::-webkit-scrollbar-thumb:hover {
//   background-color: #9894a3;
// }

.Home{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .box{
        width: 100px;
        height: 100px;
    }

    .boxstar{
        position: absolute;
        z-index: -1;
        inset: 0;
        background-image: url("../assets/cosmos-1853491_1920.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(30%);
    }

    >section{
        overflow-y: scroll;
        flex-grow: 1;

        .firstpost{
            position: relative;
            padding: 0 ;
            margin: 0 auto;
            width: 80vw;
            height: 80vh;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            >div{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: auto;
                padding: 10px;
                background-color: #000000e1;
                color: #fff;

                h2{
                    font-size: 35px;
                }

                p{
                    white-space:nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .subpost{
            width: 100%;
            margin-top: 30px;
            padding: 0 30px;
            padding-bottom: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fit,350px);
            justify-content: center;
            gap: 10px;

            >a{
                display: block;

                >div{
                    height: 100%;
                    height: 260px;
                    background-color: #000;
                    padding: 10px;
                    margin-bottom: 20px;
    
                    >img{
                        object-fit: cover;
                        width: 100%;
                        height: 70%;
                    }
    
                    >div{
                        color: #fff;

                        >h3{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient:vertical;
                        }
    
                        >p{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient:vertical;
                        }
                    }
                }
            }
        }
    }
}
.addhidcontent{
    display: none !important;
}

//!style component Header

.Header{
    position: relative;
    height: 80px;
    z-index: 10;
    background: #00000094;
    display: flex;
    align-items: center;

    .logo_Header{
        padding: 0 30px;

        >span{
            font-size: 40px;
            font-family: "seed_xbd";
        }
        >span:nth-of-type(1){
            color: #fc6736;
        }
        >span:nth-of-type(2){
            color: #fff;
        }
    }

    >nav{
        color: #fff;

        >ul{
            display: flex;
            column-gap: 15px;

            >li{
                cursor: pointer;
                
                a{
                    transition: all 0.2s ease;
                }

                a:hover{
                    color: #c7c6c6;
                }
            }
        }
    }

    >form{
        position: absolute;
        right: 30px;
        width: 240px;
        height: 30px;
        overflow: hidden;
        border-radius: 20px;
        display: flex;
        

        >input{
            padding-left: 10px;
            background-color: #fff;
            width: 80%;
            border: none;
        }
        >input:focus{
            outline: none;
        }

        button{
            border: none;
            background-color: #f0f0f0;
            cursor: pointer;
            flex-grow: 1;
        }
            
    }
}

@media screen and (max-width: 700px) {
    .Home{

        .firstpost{

            >div{

                h2{
                    font-size: 26px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .Home{

        .firstpost{
            height: 60vh !important;

            >div{

                h2{
                    font-size: 20px !important;
                }
            }
        }

        >section{
            padding-top: 60px;
        }
    }

    .Header{
        
        >form{
            bottom: -30px;
            right: 0;
            width: 100%;
            border-radius: 0;
        }
    }
}